body {
  background-color: antiquewhite;
}

.App {
  text-align: center;
}
.ProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  overflow: auto;
}

.Product {
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;
  width: 40%;
}
